<h1 class= "row justify-content-left my-5">Dashboard</h1>



<div class="container">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active text-secondary" id="instruments-tab" data-bs-toggle="tab" data-bs-target="#instruments" type="button" role="tab" aria-controls="instruments" aria-selected="true">Instruments</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link text-secondary" id="bookings-tab" data-bs-toggle="tab" data-bs-target="#bookings" type="button" role="tab" aria-controls="bookings" aria-selected="false">Bookings</button>
    </li>

  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="instruments" role="tabpanel" aria-labelledby="instruments-tab">

      <% (current_user.instruments).each do |instrument|  %>
        <div class="card-product my-3">
          <% if instrument.photo.attached? %>
            <%= cl_image_tag instrument.photo.key, crop: :fill %>
          <% else %>
            <img src="https://cdn.pixabay.com/photo/2010/12/13/10/01/guitar-2119_1280.jpg" alt="a picture of the <%= instrument.name %>.">
          <% end %>
          <div class="card-product-infos">
            <h1><%= instrument.name %></h1>
            <p>Instrument: <strong><%= instrument.instrument_type %></strong></p>
            <p>Owner: <%= current_user.first_name + " " + current_user.last_name %></p>
            <hr>
            <h2>Description</h2>
            <p><%= instrument.description %></p>
            <br>
            <h2><%= instrument.price_per_day %>€ per day</h2>
            <br>
            <br>
            <%= link_to "Edit" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="bookings" role="tabpanel" aria-labelledby="bookings-tab">
    ...
    </div>
  </div>
</div>
