<h1>Pages#home</h1>
<!-- We need a Search-thingy in the navbar! -->

<div class="container">
  <% @instruments.first(10).each do |n| %>
    <%= link_to "https://www.google.de/" do %>
      <div class="card">
        <img src="https://cdn.pixabay.com/photo/2010/12/13/10/01/guitar-2119_1280.jpg" alt="a picture of the <%= @instruments.name %>.">
        <div class="card-body">
          <h5 class="card-title"><%= n.name %></h5>
          <h6 class=""><%= n.type %></h6>
          <h6 class=""><%= n.price_per_day/10 %>€</h6>
        </div>
      </div>,
    <% end %>
  <% end %>

</div>
