<div class="container">
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "banner_photo.png" %>);">
  <div class="container ps-4 pt-5">
    <h1>InstruRent brings <strong>instruments</strong> to <strong>creative people</strong>!</h1>
    <p>Rent an instrument you would like to play.</p>

  </div>
</div>

  <!-- We need a Search-thingy in the navbar! -->
  <div class="container my-5">
    <div class="cards">
      <% @instruments.each do |n| %>
        <%= link_to instrument_path(n) do %>
          <div class="card card-instrument">

              <% if n.photo.attached? %>
                <%= cl_image_tag n.photo.key, crop: :fill %>
              <% else %>
                <img src="https://cdn.pixabay.com/photo/2010/12/13/10/01/guitar-2119_1280.jpg" alt="a picture of the <%= n.name %>.">
              <% end %>
              <div class="card-body">
              <hr>
                <h2 class="card-title"><%= n.name.capitalize %></h2>
                <p class="card-type"><%= n.instrument_type %></p>
                <h2 class="card-price "><%= n.price_per_day %>€</h2>
              </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  </div>
