<div class="container pt-5">

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%image_tag="banner_photo.png" %>%);">
  <div class="container">
    <h1>InstruRent brings <strong>instruments</strong> to <strong>creative people</strong>!</h1>
    <p>Rent an instrumet you would like to play.</p>

  </div>
</div>

  <!-- We need a Search-thingy in the navbar! -->
  <div class="container my-5">
    <div class="cards">
      <% @instruments.first(12).each do |n| %>
        <%= link_to instrument_path(n) do %>
          <div class="card card-instrument">
            <div class="container">
              <img src="https://cdn.pixabay.com/photo/2010/12/13/10/01/guitar-2119_1280.jpg" alt="a picture of the <%= n.name %>." width=200px%>
              <div class="card-body">
                <h2 class="card-title"><%= n.name.capitalize %></h2>
                <p class="card-type"><%= n.instrument_type %></p>
                <h2 class="card-price "><%= n.price_per_day/10 %>€</h2>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  </div>
