<div class="container">
  <div class="card-product">
    <% if @instrument.photo.attached? %>
      <%= cl_image_tag @instrument.photo.key, crop: :fill %>
    <% else %>
      <img src="https://cdn.pixabay.com/photo/2010/12/13/10/01/guitar-2119_1280.jpg" alt="a picture of the <%= @instrument.name %>.">
    <% end %>
    <div class="card-product-infos">
      <h1><%= @instrument.name %></h1>
      <p>Instrument: <strong><%= @instrument.instrument_type %></strong></p>
      <p>Owner: <%= @user.first_name + " " + @user.last_name %></p>
      <hr>
      <h2>Description</h2>
      <p><%= @instrument.description %></p>
      <br>
      <h2><%= @instrument.price_per_day %>€ per day</h2>
      <br>
      <br>
      <%= link_to "Request Booking!", new_instrument_booking_path(@instrument), class: "btn btn-primary" %>
    </div>
  </div>

</div>
