<!DOCTYPE html>
<html>
  <head>
    <title>InstruRent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path('logo_instrurent.png') %>
  </head>

  <body>
  <%= render "shared/navbar" %>
  <%# <div class="container pt-5 mt-5" style="min-height: calc(100vh - 20px)"> %>

      <%= yield %>

  <%# </div> %>
  <%= render "shared/footer" %>
  </body>
</html>
